@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="~/app/v1.1/appConfig.js"></script>

    <title>Quan ly duoc pham - 1721050283</title>

    <script id="sap-ui-bootstrap"
            src="https://res.hmisp.com.vn/sapui/1.87.0/sap-ui-core.js"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-libs="sap.m"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-language="vi"
            data-sap-ui-async="true"
            data-sap-ui-frameOptions="trusted"
            data-sap-ui-oninit="module:app/init"
            data-sap-ui-resourceroots='{
			      "app": "/app/v1.1"
		      }'>
    </script>
</head>

<body class="sapUiBody" id="hmibodyContent">
</body>
</html>